* {
    background-color: #b0d936;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

li {
    border: 1px solid grey;
    display: inline-block;
}

img {
    width: 250px;
    height: 150px;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
}

footer {
    position: fixed;
    bottom: 0;
    font-size: 20px;
}
